.navbar {
  position:fixed;
  opacity: 70%;
  overflow: hidden;
  background-color: #474B4F;
  z-index: 99999;
  top: 0;
  width: 100%;
  z-index: 99999;
}

.navbar a {
  background-color: #61862F;
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background: #86C232;
  color:  white;
}

.navbar a.state {
  background-color: #86C232;
  color: white;
}


  div.classa
  {
      width:100%;
      height:50vh;
      background-image: url("../images/head.jpg");
      background-repeat: no-repeat;
      background-size: cover;

      color: white;
      font-weight: bold;
      text-shadow: 3px 3px grey;
      font-family: 'font';
      font-size: 80px;
}
.dark
{
    color:#86C232;
      background-color: rgba(0, 0, 0, 0.8);
      height:50vh;
}
.h3
{
  text-align: center;
  color: white;
}
h1
{
    margin-top: 10%;
      font-size: 60px;
      color:whitesmoke;
}
p{
text-align: center;
font-family: "Helvetica";
font-size:0.8rem;
}

.down{
text-align: center;
color: #0750b0;
text-decoration: none;
font-family: 'Niconne', cursive;
font-size: 1.2rem;

}

.b
{
  height:200px;
  width:100%;

}

.b1, .b2, .b3
{
  margin-left:6%;
  margin-top:2%;
  padding: 2%;
  display:inline-block;
  height: 160px;
  width: 25%;
}
.b1sub,.b2sub,.b3sub
{
  float: left;
  height: 150px;
  width:25% ;
}

.b1sub2,.b2sub2,.b3sub2
{
  color: white;
  float:right;
  position: relative;
  height: 150px;
  width:65% ;
}

h2.l1{
  font-family: 'font';
  color: whitesmoke;
}


@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  align-items: center;
  background: black;
  color: rgba(0, 0, 0, 0.8);
  display: grid;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 400;
  height: 100vh;
  justify-items: center;
  weight: 100vw;
}
.d
{
  margin-top : 5%;
  background: URL("../images/park.jpg");
  width:100%;
  height:980px;

}
.ddark
{
  background-color: rgba(0, 0, 0, 0.8);
  padding-left: 10%;
  padding-top: 3%;
  height: 100%;
}
.signup-container {

  display: grid;
  grid-template-areas: "left left";
  max-width: 900px;
  height: 800px;
}

.left-container {
  padding: 20px;
  color: white;
  display: grid;
  grid-template-areas: "." ".";
  width: 300px;
  background-color: black;
  opacity: 80%;
  border-radius: 25px;
  border: 1px solid #61862F;
}
.left-container h1:nth-of-type(1) {
  font-size: 28px;
  font-weight: 600;
}

.left-container input {

  height: 38px;
  line-height: 38px;
  padding-left: 5px;
  background: transparent;
  border-bottom: 3px solid #61862F;
  color:#86C232;
  margin: 5px;
}

.radio-container {
  background: #61862F;
  border-radius: 4px;
  display: inline-block;
  padding: 5px;
  width:200px;
  margin: 10px;
}

.radio-container label {
  background: transparent;
  border-radius: 2px;
  display: inline-block;
  height: 26px;
  line-height: 26px;
  margin: 0;
  padding: 0;
  text-align: center;
  transition: .2s all ease-in-out;
  width: 80px;
  margin: 3px;
}

.radio-container input[type="radio"] {
  display: none;
}

.radio-container input[type="radio"]:checked + label {
  background: #86C232;
}
.right
{
  color: white;
  position: relative;
  margin: 3% 0% 5% 15%;
  padding:10% 0% 20% 20%;
  width:800px;
}
.h1r
{
  color: #86C232;
}
.a
{
  border: 2px solid red;
  background: #86C232;
}
.pbutton
{
  padding: 3%;
  color:white;
  background-color:61862F
}
/*
.pbuttons
{
  padding: 0% 2% 2% 2%;
  color:white;
  background-color:#61862F"
  width:200px;
  height: 50px;
  border: 2px solid red;
}*/
.radio-container input[type="submit"] {

  padding: 0% 2% 2% 2%;
  color:white;
  background-color:#61862F";
  width:200px;
  height: 50px;
  border: 2px solid red;
}
