html, body
 {
   overflow-x: hidden;
    overflow-y: hidden;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}
header
{
    position: absolute;
    width: 100%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: white;
    z-index: 1000;
}

p{
  color: red;
}

#globalArea
{
     /*transform: scale(1.3);
     transform-origin: 50% 50% 0px;*/
     position:absolute;
     height: 100%;
     width: 100%;
     margin: 0;
     padding: 0;
}

  @font-face
{
    font-family: 'font';
    src:url(font.ttf);
}
pre
{
    position: relative;
    padding-top: 100px;
    font-family: 'font';
    font-size: 100px;
    color: #E032E6;
}
label
{
  position: relative;
  display: inline-block;
  width: 150px;
  text-align: right;
  padding: 10px;
  color: #86C232;
  font-style: Bookman Old ;
}

.pass
{
  position: relative;
    line-height: 15px;
}
input{
  font-family: 'font';
  outline: none;
  position: relative;
  color: white;
  background: transparent ;
  width: 120px;
 border: 0px solid;
}

.button , .buttons{
    position: relative;
    font-family:courier,arial,helvetica;
    font-weight: bold;
    background-color: black;
    opacity:80%;
    border-radius: 300px;
    width: 200px;
    height:25px;
    border: 2px solid #61892F;
    color: #61892F;
    padding: 5px 25px;
    text-align: center;
    text-decoration:white;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
.buttons
{
  width:260px;
      height:40px;
}

.button span {
  position: relative;
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }

  .button span:after {
    position: relative;
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -50px;
    transition: 0.5s;

  }

  .button:hover span {
    position: relative;
    padding-right: 25px;
  }

  .button:hover span:after {
    position: relative;
    opacity: 1;
    right: 0;
  }

  div.pad{
    position: relative;
      padding-top: 50px;
      padding-right: 30px;
      padding-bottom: 50px;
      padding-left: 80px;
  }

  .glow {
    position: relative;
    font-size: 80px;
    color: #fff;
    text-align: center;
    -webkit-animation: glow 2s ease-in-out infinite alternate;
    -moz-animation: glow 2s ease-in-out infinite alternate;
    animation: glow 2s ease-in-out infinite alternate;
    margin-top: 10px;
  }

  @-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px #86C232, 0 0 20px #86C232, 0 0 30px #86C232, 0 0 40px #86C232, 0 0 50px #86C232, 0 0 60px #86C232, 0 0 70px #86C232;
    }

    to {
      text-shadow: 0 0 20px #61892F, 0 0 30px #61892F, 0 0 40px #61892F, 0 0 50px #61892F, 0 0 60px #61892F, 0 0 70px #61892F, 0 0 80px #61892F;
    }
  }
